<div class="container">
  <h1>
    Configuration Rovers squad
    <button class="btn btn-success pull-right" ng-click="configCtrl.addNewRover()">
      <i class="fa fa-plus" aria-hidden="true"></i> Add new Rover
    </button>
  </h1>
  
  <form name="configForm" ng-submit="configCtrl.runProgram(configForm)">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>
            Intstructions
            (R = <i class="fa fa-repeat" aria-hidden="true"> 90º</i>
            | L = <i class="fa fa-undo" aria-hidden="true"> 90º</i>
            | M = <i class="fa fa-long-arrow-up" aria-hidden="true"></i>)
          </th>
          <th style="width: 50px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="rover in configCtrl.robots track by rover.id">
          
          <td>
            <input type="text" class="form-control" name="name_{{$index}}" ng-model="rover.name" required/>
            <p class="text-danger" ng-messages="configForm['name_' + $index].$error"
                 ng-if="configForm['name_' + $index].$dirty || configForm.$submitted">
              <span ng-message="required">The field name is required.</span>
            </p>
          </td>
          
          <td>
            <input type="text" class="form-control" name="instructions_{{$index}}" 
                   ng-model="rover.instructions" required instructions-validation/>
            <p class="text-danger" ng-messages="configForm['instructions_' + $index].$error"
               ng-if="configForm['instructions_' + $index].$dirty || configForm.$submitted">
              <span ng-message="required">The field instructions is required.</span>
              <span ng-message="instructionsValidation">Only L, M or R characters separated by spaces are allowed.</span>
            </p>
          </td>
          
          <td class="text-right">
            <button class="btn btn-danger" ng-click="configCtrl.removeRover($index)"
                    ng-if="configCtrl.robots.length > 1">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <button class="btn btn-primary btn-lg btn-block text-center" type="submit"
            ng-disabled="configForm.$invalid">Send Rovers on Marts</button>
  </form>
</div>